.AddContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b0000;
    padding: 20px;
  }
  /*add movie button*/
  .ButtonContainer {
    color: #fff;
    margin: 20px 0;
    background-color: #7d6c6c;
    border: 2px solid #553c3c;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
  }
  /*modal details*/
  .modal-header {
    background-color: #4b0000;
    border: none;
    color: #de9999;
    text-align: center;
    margin-bottom: 10px;
  }
  .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .modal-content {
    background-color: #4b0000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .modal-body {
    padding: 20px;
  }
  .modal-footer {
    background-color: #4b0000;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
  }
  /*input fields style*/
  .input-field {
    width: 705px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #2a0000;
    border-radius: 5px;
    background-color: #3c0000;
    color: #d7d7d7;
  }
  /*add and close buttons*/
  .button {
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    background-color: #7d6c6c;
    border: 2px solid #553c3c;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  